.container {
  display: table-cell;
}

.table {
  width: 100%;
  display: grid;
  gap: 11rem;
  margin-left: 1rem;
  grid-template-columns: 22% 22% 22%;
}

.title {
  text-align: center;
  font-size: 18px;
}

.text {
  text-align: center;
  border-left: 1px solid #000;
}
