.container {
  display: table-cell;
}
.table{
  width: 100%;
}
.title{
  text-align: center;
  font-size: 18px;
  padding-bottom : 1rem;
}

.text{
  text-align: center;
  /* border-left: 1px solid black; */
}
/* td:nth-child(1){
  border: none;
  border-right: 1px solid black;
} */
td{
  width: 10%;
  text-align: center;
}
